<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>RecruiteDB</h1>
	<p>Geben sie bitte einen Datensatz für die RecruiteDB ein.<p>
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Name: <input type="text" th:field="*{Name}" /></p>
        <p>Vorname: <input type="text" th:field="*{vorname}" /></p>
		<p>Email: <input type="text" th:field="*{email}" /></p>
        <p><input action="/update" type="submit" value="Eintragen" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>